@model List<AppBoutiqueKids.Models.Product>



<div class="row">
    <div class="span9 full">
        @if (User.IsInRole(Globals.Admin))
        {
            <table class="table">
                <tr>
                    <td>
                        <p>
                            <a asp-controller="Admin" asp-action="AddProduct" class="btn btn-warning">Add Product</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-controller="Admin" asp-action="AdminHomePage" class="btn btn-warning">Back</a>
                        </p>
                    </td>
                </tr>
            </table>

        }

        <ul class="thumbnails listing-products">
            @foreach (var item in Model)
            {

                var PhotoPath = "~/images/" + item.ProductImagePath;

                <li class="span3">
                    @if (User.IsInRole(Globals.Member) || User.IsInRole(Globals.Admin))
                    {
                    <div class="product-box">
                        <span class="sale_tag"></span>

                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.Id">
                            <img alt="" src="@PhotoPath" asp-append-version="true" style="width:150px;height:150px;">
                        </a>
                        <br>
                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.Id" class="title">
                            @item.Name
                        </a><br>
                        <p class="price">$@item.Price</p>
                    </div>
                    }
                    else
                    {
                <div class="product-box">
                    <span class="sale_tag"></span>
                    <a href="/Home/ProductDetailsWithoutLogin/@item.Id"><img alt="" src="@PhotoPath" asp-append-version="true" style="width:150px;height:150px;"></a>
                    <br />
                    <a href="/Home/ProductDetailsWithoutLogin/@item.Id"><strong>@item.Name.ToUpper()</strong></a>
                    <br>
                    <p class="price">$@item.Price</p>
                </div>
                    }
                </li>
            }
        </ul>
        <hr>

    </div>
</div>


@section Styles {
    <style>
        .full {
            width: 100%;
        }
    </style>
}