@model List<Product>
@{
    ViewData["Title"] = "WomanView";
    int? UserId = ViewBag.userId;
}
<div class="row">
    <div class="span12">
        <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line">Female <strong>Products</strong></span></span></span>
            <span class="pull-right">
                <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
            </span>
        </h4>
        <div id="myCarousel-2" class="myCarousel carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <ul class="thumbnails">
                        @foreach (var item in Model)
                        {
                            var PhotoPath = "~/images/" + item.ProductImagePath;
                            <li class="span3">
                                <div class="product-box" style="height:300px ; width:300px">
                                    @if (UserId != 0)
                                    {
                                        <p><a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.Id"><img style="width:150px ; height:150px" src="@PhotoPath" asp-append-version="true" alt="" /></a></p>
                                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.Id" class="title">@item.Name</a><br />
                                    }
                                    else
                                    {
                                        <p><a asp-controller="Home" asp-action="ProductDetailsWithoutLogin" asp-route-id="@item.Id"><img style="width:150px ; height:150px" src="@PhotoPath" asp-append-version="true" alt="" /></a></p>
                                        <a asp-controller="Home" asp-action="ProductDetailsWithoutLogin" asp-route-id="@item.Id" class="title">@item.Name</a><br />
                                    }

                                    @*<a asp-controller="Home" asp-action="ProductDetails" class="category">@item.Price</a>*@
                                    <p class="price">$@item.Price</p>
                                </div>
                            </li>
                        }                       
            </div>
        </div>
    </div>
</div>

