@model  List<Product>
@{
    ViewData["Title"] = "WomansView";
}

<h4>Woman Products</h4>

<div class="control-group">

    <table class="table">

        <thead>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Price</strong></td>
                <td><strong>Brand</strong></td>
                <td><strong>Category</strong></td>
                <td><strong>Image</strong></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price $</td>
                    <td>@item.Brand.Name</td>
                    <td>@item.Category.Name</td>
                    <td>
                        @{
                            var PhotoPath = "~/Images/" + item.ProductImagePath;
                        }
                        <img src="@PhotoPath" style="height:80px;width:80px" />
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

