@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<OrderListViewModel>

@{
    ViewData["Title"] = "OrderList";
}

<style>
    #paging{
        justify-content:center;
        margin:auto;
        width:50%;

    }
    .pagination{
        display:flex;
        justify-content:center;
        flex-direction:row;
        margin:auto;
        width:50%;

    }
    .pagination li{
        padding:20px;
        text-align:center;
        margin:auto;
        list-style-type:none;

    }
</style>
<div id="content">
    <h1>List of orders</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Buyer</th>
                <th>City and Adress</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Product</th>
                <th>Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstLastName</td>
                    <td>@item.CityAdressZipCode</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.Product</td>
                    <td>@item.Size</td>
                    <td><a id="message" class="btn btn-warning" asp-controller="Admin" asp-action="DeleteOrder" asp-route-id="@item.Id">Deliver</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div id="paging" style="text-align:start;display:flex;flex-direction:row">
        @Html.PagedListPager(Model, page => Url.Action("OrderList","Admin",new { pageNumber=page } ))
    </div>
    
    <a class="btn btn-warning" asp-controller="Admin" asp-action="AdminHomePage">Back to homepage</a>
</div>




